{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Xô Fome</title>

	<link rel="stylesheet"  href="{% static 'css/mormalize.css' %}">
	<link rel="stylesheet"  href="{% static 'css/estilo.css' %}">
	<!--INICIO BOOTSTRAP
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    -->
    <!--FIM BOOTSTRAP-->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="container"><!--INICIO CONTAINER-->
		<header><!--INICIO HEADER-->
			<div id="logo">
				<h1><a href="">Xô Fome</a></h1>
			</div>

			<nav><!--INICIO NAV-->
				<ul>
					<li><a href="{% url 'doar' %}">Doações</a></li>
					<li><a href="{% url 'peca ajuda' %}">Peça Ajuda</a></li>
					<li><a href="{% url 'contato' %}">contato</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				</ul>
			</nav><!--FIM NAV-->
		</header><!--FIM HEADER-->

		<div id="principal"><!--INICIO PRINCIPAL-->
			<div id="conteudo"><!--INICIO CONTEUDO-->
				<section id="capa">
					<img src="{% static 'img/prato-vazio.png' %}" height="320" width="710">
				</section>

			</div><!--FIM CONTEUDO-->

			<aside>
				<section id="depoimento">
					<img src="{% static 'img/animacao.gif' %}" height="320" width="350" href="doacoes.html>
				</section>
			</aside>

			<footer>
				<p>
					<a href="">Home</a>
					<a href="">Doações</a>
					<a href="">Contato</a>
				</p>

				<p>
					2022 <a href="">Xô Fome</a> Todos os direitos reservados
				</p>
			</footer>
		</div><!--FIM PRINCIPAL-->
	</div><!--FIM CONTAINER-->
</body>
</html>